/* GENERAL */
:root {
    --menu-button-width: 4rem;
    --icon-height: 1.6rem;

    --menu-button-mobile-width: 3rem;
    --icon-mobile-height: 1.5rem;

    /* GRUVBOX THEME */
    --bg: #282828;
    --bg-menu: #3c3836;
    --bg-extend: #d79921;
    --bg-img: #928374;
    --fg: #ebdbb2;
    --h1: #cc241d;
    --h2: #d65d0e;
    --border: #d79921;
    --link: #83a598;
}

*:not(li):not(ol) {
    margin: 0;
    padding: 0;
}

html {
    position: fixed;
    height: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    font-family: Sans-serif;
    overflow: hidden;
    color: var(--fg);
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*background: linear-gradient(90deg, grey 50%, dimgrey 50%);
     */
    background-color: var(--bg);
}

h1 {
    color: var(--h1);
}

h2 {
    color: var(--h2);
}

a, a:visited, a:hover, a:active {
    color: var(--link);
}

ol, ul {
    list-style: none;
}

#page-content {
    display: flex;
    height: 100%;
}

/* PAGE CONTAINER STYLING */
.page-container {
    word-break: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.6;
}

.page-container ul {
    padding-left: 2rem;
}

.page-container h1, h2, h3, h4, h5, h6 {
}

.page-container h1 {
    text-align: center;
}

.page-container p, li {
    font-size: 18px;
}

.page-container img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-img);
    border-radius: 20px;
}

/* PAGE PREVIEW */
.page-preview {
    width: 400px;
    height: 500px;
    border: 1px solid var(--border);
    background-color: var(--bg);
}

/* LEFT COLUMN */
#page-content-left-column {
    display: flex;
    min-width: var(--menu-button-width);
    height: 100%;
    background-color: var(--bg-menu);
}

.navbar {
    width: var(--menu-button-width);
    height: 100%;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid var(--border);
}

.navbar-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--menu-button-width);
    width: var(--menu-button-width);
    cursor: pointer;
    border: 1px solid var(--border);
}

.navbar-list-item:nth-last-child(2) {
    margin-top: auto;
}

.navbar-link-text {
    display: none;
    margin-left: 1rem;
}

.navbar-list-item svg {
    height: var(--icon-height);
}

.searchbar-container {
    text-align: center;
    margin: 1rem 0;
}

.searchbar {
    display: inline-block;
    width: 13rem;
    border: none;
    border-radius: 4px;
    border: 1px solid var(--bg-menu);
    background-color: var(--bg);
    color: var(--fg);
    font-size: 16px;
    padding: 0.3rem;
}

.searchbar:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--border);
}

.extend-menu {
    display: block;
    width: 0px;
    transition: 300ms ease;
    word-break: break-word;
    overflow-y: auto;
}

.menu-active {
    width: 15rem;
}

.tree-item {
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 0.2rem;
    transform: rotate(0deg);
    transition: 200ms ease;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.search-result-container {
    position: absolute;
    background-color: var(--bg-img);
    max-width: 10rem;
    max-height: 10rem;
    overflow: auto;
}

/* CENTER COLUMN */
#page-content-center-column {
    flex: 1 1;
    height: 100%;
    padding: max(0px, env(safe-area-inset-top)) max(0.5rem, env(safe-area-inset-right)) 0 max(0.5rem, env(safe-area-inset-left));
}

#page-content-center-column > * {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

/* RIGHT COLUMN */
#page-content-right-column {
    min-width: 300px;
    height: 100%;
    overflow: hidden;
}

#page-content-right-column:hover {
    overflow: auto;
}

.toc-item-h1 {
    font-weight: bold;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
    #page-content-right-column {
        display: none !important;
    }
}

@media screen and (max-width: 740px) {
    #page-content {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    #page-content-left-column {
        display: block;
        flex: 0 0 var(--menu-button-mobile-width);
        min-width: 100vw;
        height: var(--menu-button-mobile-width);
        border-radius: 15px 15px 0 0;
        padding-bottom: max(0px, env(safe-area-inset-bottom));
    }

    .navbar {
        width: 100%;
        height: 100%;
    }

    .navbar-list {
        flex-direction: row;
        justify-content: center;
        border-right: none;
    }

    .navbar-list-item {
        height: var(--menu-button-mobile-width);
        border: none;
    }

    .navbar-list-item svg {
        height: var(--icon-mobile-height);
    }

    .extend-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background-color: var(--bg-extend);
    }

    .menu-active {
        width: 80%;
    }

    #page-content-center-column {
        height: 100%;
        max-height: 100%;
    }
}

@media (display-mode: standalone) {
    body {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--border);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
